@font-face{
    src: url("SUPER BOLD.ttf");
    font-family: "super";
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("imageref/MarketView.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-slider-thumb{
    color: #1111;
}

li, a, button{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 22px;
    color: #005214;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #00191a;
}


.logo{
    font-family: "super";
    font-size: 25px;
    cursor: pointer;
    margin-right: auto;
    transition: all 0.3s ease 0;
}

.logo:hover{
    color: #ffd000;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #ffd000;
}

.menu{
    display: none;
}

button{
    padding: 9px 25px;
    background-color: #ffd000;
    border: none;
    border-radius: 50px;  
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover{
    background-color: #005214;
    color: #ffd000;
}

.menu-btn{
    padding: 9px 10px;
    background-color: #005214;
    border-radius: 0;
    color: #ffd000;    
}

@media only screen and (max-width: 800px){

    .a-btn{
        display: none;
    }

    .nav-links, .cta{
        display: none;
    }
    .menu{
        display: inherit;
    }
}


/*mobile nav*/

.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #00191a;
    overflow-x: hidden;
    transition: all 0.3s ease 0;
}

.overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0;
}

.overlay a:hover, .overlay a:focus{
    color: #ffd000;
}

.overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px){
    .overlay a{
        font-size: 20px;
    }
    .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35;
    }
}







.text2 {
    font-family: 'Lalezar', cursive;
    color: #fff;
    font-size: 75px;
    padding: 8px 12px;
    top: 100px;
    right: 200px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease 0s;
    text-shadow: 2px 2px #ff0000;
  }







.backcolor{
    background-color: #10111a;
    height: 20px;
}

/*carousel*/

/* .wrapper{
    width: 100%;
} */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin:  80px auto;
  width: 100%;
  transition: all 0.3s ease 0s;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img{
    height: 400px;
    width: 100%;
    transition: all 0.3s ease 0s;
    filter: blur(2px);
    background: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.795));
}

/* Caption text */
.text {
  font-family: 'Lalezar', cursive;
  color: #ffd000;
  font-size: 75px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  right: 40px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease 0s;
  text-shadow: 2px 2px #ff0000;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





.our-partners{
    margin-top: -90px;
    padding: 0 80px;
    background-color: #005214;
    padding-bottom: 30px;
    color: #fff;
}

.our-partners h3{
    font-size: 28px;
    margin-bottom: 15px;
}

.our-partners hr{
    border: none;
    height: 4px;
    width: 100px;
    background-color: orange;
}

.our-partners-inner{
    margin-top: 50px;
    margin-left: 200px;
}

.our-partners-inner a{
    display: inline-block;
    width: 14%;
    padding: 15px;
    margin-right: 25px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    box-shadow: 0 5px 0 #cacaca;
}

.our-partners-inner img{
    width: 100%;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #2d3047;
}
::-webkit-scrollbar-thumb {
    background: #e9e3e6;
  }






footer{
    width: 100%;
    height: 300px;
    background: #10111a;
}

footer li{
    list-style: none;
}
  
 footer a{
    color: #fff;
    text-decoration: none;
 } 

 .flex-container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 20px 0px;
 }

 .q-links a{
    color: rgb(214, 214, 214);
    font-size: 16px;
 }

 .q-links a:hover{
     color: #6290c3;
 }


 .categ-list a{
    color: rgb(214, 214, 214);
    font-size: 16px;
 }

 .categ-list a:hover{
    color: #6290c3;
 }

 .contact-list a{
    color: rgb(214, 214, 214);
    font-size: 16px;
 }

 .contact-list a:hover{
     color: #6290c3;
 }

 .contact-list figure{
     display: flex;
     align-items: center;
     justify-content: flex-start;
 }

 .contact-list figcaption{
     padding: 0 10px;
 }

hr{
    height: 4px;
    border: 1px solid #419D78;
    background-color: #419D78;
    margin: 0 10px;
}

.buttons-payement{
    padding: 20px 45px;
}

.buttons-payement a{
    color: #e9e3e6;
    font-size: 30px;
    padding-top: 10px;
}

.buttons-payement a:hover{
    color: #6290c3;
}

.buttons-payement .eng-btn{
    background: #bbb;
    border-radius: 0;
    padding:  -10px 5px;
    color: #717171;
}
@media only screen and (max-width: 800px){
    .text2{
      font-size: 35px;
    }
    .text2 span {
        font-size: 35px;
    }
    .text{
        display: none;
        
    }
    .mySlides img{
        filter: none;
    }

    .our-partners{
        margin-left: -150px;        

    }
    .our-partners h3{
        margin-left: 100px;
        padding-top: 30px;
    }
    .our-partners hr{
        margin-left: 100px;
    }

    .our-partners-inner img{
        width: 100%;

    }

    .our-partners-inner a{
        width: 100px;
        margin-bottom: 20px;
    }
    .quicklinks{
        width: 25%;
    }
    .categories{
        width: 25%;
    }
    .contact-list{
        width: 100%;
       

    }
    .flex-container{
       margin-left: 15px; 
    }
    
}
